node_modules/
.next/
out/
.env
.env.*
!.env.example
!.env.docker.example
client/.env
client/.env.*
!client/.env.example
server/.env
server/.env.*
!server/.env.example
!server/.env.docker.example
npm-debug.log*
backups/*.archive.gz
backups/*.log
deploy/aws/*.log